.profile__edit-btn {
  background-image: url(../../../images/EditBtn.svg);
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-color: black;
  margin-left: 18px;
  align-self: center;

}

@media screen and (max-width: 320px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
