.modal__container {
  background-color: #fff;
  min-height: 330px;
  max-width: 430px;
  padding: 34px 36px 37px 36px;
  margin: 0 auto;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 768px) {
  .modal__container {
    min-height: 322px;
    max-width: 282px;
    padding: 25px 22px;
  }
}
