.modal__user-info {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  margin-bottom: 48px;
  border-width: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  padding: 0 0 13px 0;
}

@media screen and (max-width: 768px) {
  .modal__user-info {
    margin-bottom: 45px;
  }
}
