.modal__close-btn {
  background-image: url(../../../images/CloseButton.svg);
  background-color: transparent;
  border: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -42px;
  top: -44px;
}

@media screen and (max-width: 768px) {
  .modal__close-btn {
    width: 20px;
    height: 20px;
    right: 0;
    top: -41px;
  }
}
