.modal__submit-btn_inactive {
  border: 1px solid #000000;
  opacity: 0.2;
  background-color: transparent;
  color: #000000;
  cursor: default;
}

.modal__submit-btn_inactive:hover {
  opacity: .2;
}
